In [4]:
import pandas as pd, numpy as np
import seaborn as sns

DATA_DIR = r'C:\Users\taylo\Documents\Work\projects\Avocado_Price_Prediction\data'

In [7]:
df = pd.read_csv(DATA_DIR+'\\avocado-updated-2020.csv')
df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [8]:
df.geography.value_counts()

Albany                  612
Sacramento              612
Northeast               612
Northern New England    612
Orlando                 612
Philadelphia            612
Phoenix/Tucson          612
Pittsburgh              612
Plains                  612
Portland                612
Raleigh/Greensboro      612
Richmond/Norfolk        612
Roanoke                 612
San Diego               612
Atlanta                 612
San Francisco           612
Seattle                 612
South Carolina          612
South Central           612
Southeast               612
Spokane                 612
St. Louis               612
Syracuse                612
Tampa                   612
Total U.S.              612
West                    612
New York                612
New Orleans/Mobile      612
Nashville               612
Midsouth                612
Baltimore/Washington    612
Boise                   612
Boston                  612
Buffalo/Rochester       612
California              612
Charlotte               612
Chicago                 612
Cincinnati/Dayton       612
Columbus                612
Dallas/Ft. Worth        612
Denver                  612
Detroit                 612
Grand Rapids            612
Great Lakes             612
Harrisburg/Scranton     612
Hartford/Springfield    612
Houston                 612
Indianapolis            612
Jacksonville            612
Las Vegas               612
Los Angeles             612
Louisville              612
Miami/Ft. Lauderdale    612
West Tex/New Mexico     609
Name: geography, dtype: int64

In [9]:
df.corr()

C:\Users\taylo\AppData\Local\Temp\ipykernel_17400\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,year
average_price,1.000000,-0.184976,-0.202951,-0.159246,-0.170329,-0.168381,-0.170086,-0.157738,-0.110737,-0.052995
total_volume,-0.184976,1.000000,0.976244,0.943261,0.860829,0.954229,0.970043,0.871410,0.736425,0.038011
4046,-0.202951,0.976244,1.000000,0.912669,0.844034,0.898305,0.922455,0.804319,0.665595,0.009830
4225,-0.159246,0.943261,0.912669,1.000000,0.873954,0.821792,0.859788,0.707677,0.568099,-0.020550
4770,-0.170329,0.860829,0.844034,0.873954,1.000000,0.756214,0.786992,0.652124,0.603065,-0.025592
total_bags,-0.168381,0.954229,0.898305,0.821792,0.756214,1.000000,0.989757,0.960491,0.842191,0.104185
small_bags,-0.170086,0.970043,0.922455,0.859788,0.786992,0.989757,1.000000,0.911532,0.814144,0.086966
large_bags,-0.157738,0.871410,0.804319,0.707677,0.652124,0.960491,0.911532,1.000000,0.820804,0.128931
xlarge_bags,-0.110737,0.736425,0.665595,0.568099,0.603065,0.842191,0.814144,0.820804,1.000000,0.126071
year,-0.052995,0.038011,0.009830,-0.020550,-0.025592,0.104185,0.086966,0.128931,0.126071,1.000000